.message
  userpic(user="content.user")
  username(user="content.user")
  quote(ng-if="content.replyto" content="getMessage(content.replyto)")
  text(content="content.text" rich="true" replyto="content.replyto")
  taglist(ng-if="content.tags" tags="content.tags" clubs="content.clubs" user="content.user")
  datestr(date="content.date")
  recommendations(ng-if="content.recommendations" content="content.recommendations")
  .text(ng-bind="content.text")
  .id(ng-bind="content.id")
  .join(ng-if="joinable") Join