.recommendations {
  position: relative;

  &:before {
    content: '!';
    width: 20px;
    height: 32px;
    display: inline-block;
    position: absolute;
    left: -32px;
    line-height: 32px;
    text-align: right;
    font-size: 24px;
    color: @recommendationColor;
  }
}

.recommendation {
  .clearfix;
  margin: 4px 0;
  padding: 0 16px 0 32px;
  display: inline-block;
  white-space: nowrap;
  position: relative;

  userpic {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;

    img {
      min-height: 24px;
    }
  }

  .username a {
    color: @recommendationColor;
  }
}